div {
    display: block;
    padding-bottom: 15px;
}
span {
    display: block;
}
.pagination span {
    display: inline-block;
}
.url {
    font-style: normal;
    line-height: 16px;
    font-size: 14px;
    color: #006621;
}
.title {
    font-size: 18px;
    color: #1a0dab;
}
.currentPage {
    font-weight: 600;
}
.text {
    max-width: 320px;
    display: inline-block;
    font-size: small;
    color: #545454;
    line-height: 1.4;
    font-family: arial,sans-serif;
}
.textSetting {
    max-width: 320px;
    width: 100%;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: arial,sans-serif;
    cursor: pointer;
}